/*RESET*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Menu bar start*/
.sidebar{
    position: fixed;
    background: #1E90FF;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.05);
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: #1E90FF;
    padding: 20px;
    font-weight: bold;
}


.sidebar ul li {
    border-bottom: 1px solid #ffffff;
    margin: 50px 0;
}

.sidebar ul li a{
    color: #ffffff;
    padding: 0 30px;

}
.sidebar ul li a:hover{
    color: #000000;
    margin-left: 20px;
    transition: 0.4s;
}
/*side menu bar end here*/

/*main content*/
.main{
    text-align: center;
    background: #F0F8FF;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.05);
    margin-left: 200px;
    padding: 30px;
}

.main h2{
    margin-top: 20px;
}

form {
	margin: 75px;
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
	margin-left: 655px;
}

h2 {
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
select {
	display: block;
	border: 2px solid #ccc;
	width: 100%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}
.option{
	margin-top: 5%;
	text-align: center;
	color: #FFFFFF;
}
.btn-group button{
	display: inline-block;
	background-color: #4682B4;
  	border: 2px solid #FFFFFF;
  	color: white;
  	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	outline: none;
  	cursor: pointer;
  	float: left;
	font-size: 16px;
	border-radius: 12px;
}
button {
	float: right;
	background: #4169E1;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	cursor: pointer;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}
h2{
	margin-top: 5%;
}
h3{ 
	text-align: center;
	margin-bottom: 5%;
}

.ca{
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover{
	text-decoration: underline;
}

#tester{
	border-collapse: collapse;
	width: 85.3%;
	margin-left: 250px;
}

#tester td, #tester th{
	border: 1px solid #1E90FF;
	padding: 8px;
}

#tester tr: nth-child(even){background-color: #f2f2f2;}

#tester tr: hover{background-color: #1E90FF;}

#tester th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #1E90FF;
	color: white;
}

#testCentre{
	border-collapse: collapse;
	width: 85.3%;
	margin-left: 250px;
}

#testCentre td, #testCentre th{
	border: 1px solid #1E90FF;
	padding: 8px;
}

#testCentre tr: nth-child(even){background-color: #f2f2f2;}

#testCentre tr: hover{background-color: #1E90FF;}

#testCentre th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #1E90FF;
	color: white;
}

#testKit{
	border-collapse: collapse;
	width: 85.3%;
	margin-left: 250px;
}

#testKit td, #testKit th{
	border: 1px solid #1E90FF;
	padding: 8px;
}

#testKit tr: nth-child(even){background-color: #f2f2f2;}

#testKit tr: hover{background-color: #1E90FF;}

#testKit th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #1E90FF;
	color: white;
}